<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}">
    <!--videojs-->
    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!--slick css-->
    <link rel="stylesheet" type="text/css" href="../static/slick/slick.css" th:href="@{/slick/slick.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/slick/slick-theme.css" th:href="@{/slick/slick-theme.css}"/>
</head>

<!--footer-->
<footer class="ui inverted vertical segment f-padding" id="footer" th:fragment="footerImg()">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">FQA</h4>
                <div class="ui inverted link list">
                    <a th:href="@{/help}" class="item">Help</a>
                    <a href="about" class="item" methods="get">About Peppa Tomatoes</a>
                    <a href="#" class="item">What's the Peppameter?</a>
                    <a href="#" th:href="@{/terms_policies}" class="item">Terms and Policies</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">INFO</h4>
                <div class="ui inverted link list">
                    <a href="#" th:href="@{/contact_us}" class="item">Contact Us</a>
                    <a href="licensing" class="item" methods="get">Licensing</a>
                    <a href="#" class="item">Advertise</a>
                    <a href="#" class="item">Careers</a>
                </div>
            </div>
            <div class="four wide column">

                <h4 class="ui inverted header"><i class="envelope outline icon"></i>JOIN THE NEWSLETTER</h4>
                <div class="ui inverted link list center">
                    <div class="item">Get the freshest reviews, news, and more delivered right to your inbox!</div>
                    <div class="item">
                        <a href="#" class=" ui teal button "> Join the Newsletter</a>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header">FOLLOW US <i class="angle double down icon"></i></h4>
                <div class="follow"><a href="https://www.facebook.com/pg/Peppa-Movies-1903357799954886" class="item"><img src="static/images/004-facebook.png"
                                                                  th:src="@{/images/004-facebook.png}"
                                                                  alt="loading"></a></div>
                <div class="follow"><a href="https://twitter.com/Peppa54093257" class="item"><img src="static/images/003-twitter.png"
                                                                  th:src="@{/images/003-twitter.png}"
                                                                  alt="loading"></a>
                </div>
                <div class="follow"><a href="#" class="item"><img src="static/images/if_snapchat_386706.png"
                                                                  th:src="@{/images/if_snapchat_386706.png}"
                                                                  alt="loading"></a></div>
                <div class="follow"><a href="#" class="item"><img src="static/images/001-instagram.png"
                                                                  th:src="@{/images/001-instagram.png}"
                                                                  alt="loading"></a></div>
            </div>

        </div>
        <div class="ui inverted section divider"></div>
        <p class="f-text-lined f-text-space f-text-thin">Copyright © 2018 - 2019 Peppa Designed by Peppa. All rights
            reserved. </p>
    </div>
</footer>

<body>





<!-- nav bar-->
<nav class="ui sticky inverted m-nav-opacity attached segment " th:fragment="navBar()">

    <div class="ui container  ">
        <div class="ui container ">
            <div class="ui inverted secondary menu">

                <h2 class="ui header item">
                    <!--<a href=" index.html " th:href=@{/}> <img class="ui small image" src="" th:src="@{/images/ad/logo.png}" alt="">  </a>-->
                    <a href=" index.html " th:href=@{/}>PEPPA </a>

                </h2>

                <div  class="ui search search_bar ">
                    <form  name="search" action="#" th:action="@{/search}" method="post" targe="_blank">
                            <div class="ui icon input search_area">
                                <input class="prompt" type="text" name="query" placeholder="Search Movies..."
                                       th:value="${query}">
                                <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                            </div>
                    </form>
                    <div class="results"></div>
                </div>

                <!-- code if no user info is being passed -->
                <div class="right menu " th:unless="${session.type }">
                    <a id="login1" class="ui inverted item button " onclick="login_fun()">Log in </a>
                    <a href="#" id="signup1" class="ui inverted item button " onclick="signup_fun()"> Sign Up</a>
                </div>

                <div class="right menu " th:if="${session.type == 3 }">
                    <a id="login" class="ui inverted item button " onclick="login_fun()">Log in </a>
                    <a href="#" id="signup" class="ui inverted item button " onclick="signup_fun()"> Sign Up</a>
                    <div class="ui m-padded-big modal" id="notfound_login_modal">
                        <i class="close icon"></i>
                        <div class="ui aligned center aligned grid">
                            <div class="column">
                                <h2 class="ui image header">
                                    <div class="content">
                                        User Not Exist
                                    </div>
                                </h2>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="right menu " th:if="${session.type == 2 }">

                    <div class="ui m-padded-big modal" id="after_login_modal">
                        <i class="close icon"></i>
                        <div class="ui aligned center aligned grid">
                            <div class="column">
                                <h2 class="ui image header">
                                    <div class="content">
                                        WELCOME TO PEPPA
                                    </div>
                                </h2>

                            </div>
                        </div>
                    </div>


                    <div id="username" class="ui dropdown item">
                        <img class="ui avatar image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}" alt="fail">
                        <div class="text" th:text="${session.user.userName}"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a th:href=@{/my_profile/{id}(id=${session.user.userID})} class="item"><i class="user icon"></i>Profile </a>
                            <a href="/logout" class="item" onclick="logout_fun()"><i class="power off icon"></i>Log Out</a>
                        </div>
                    </div>
                </div>


                <!-- admin -->
                <div class="right menu " th:if="${session.type == 1 }">

                    <div id="admin" class="ui dropdown item">
                        <!--<img class="ui avatar image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}" alt="fail">-->
                        <div class="text" th:text="${session.user.userName}"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a th:href=@{/admin_summary_mapping} class="item"><i class="user icon"></i>Administration </a>
                            <a href="/logout" class="item" onclick="logout_fun()"><i class="power off icon"></i>Log Out</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="ui container">
            <div class="ui inverted secondary menu">
                <div class="ui dropdown pointing link item ">
                    <span class="text">MOVIES & DVDS</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href=@{/opening_this_week} href="movie_category_info.html" class="item">Opening This
                            Week</a>
                        <a th:href=@{/top_box_office} href="movie_category_info.html" class="item">Top Box Office</a>
                        <a th:href=@{/comming_soon} href="movie_category_info.html" class="item">Coming Soon</a>
                        <a th:href=@{/top_rated_movies} href="movie_category_info.html" class="item">Top Rated
                            Movies</a>
                    </div>
                </div>
                <div class="ui dropdown pointing  link item ">
                    <span class="text">TV</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href=@{/top_rated_tv_shows} href="#" class="item">Top Rated TV Shows</a>
                        <a th:href=@{/certified_fresh_tv_shows} href="#" class="item">Certified Fresh TV Shows</a>
                    </div>
                </div>
                <div class="ui item ">
                    <a href="#" th:href="@{/trailer_page}"> TRAILERS & VIDEOS</a>
                </div>

                <div class="ui item ">
                    <a href="#"> TICKETS & SHOWTIMES </a>
                </div>

                <div class="ui item ">
                    <a href="#">REVIEWS </a>
                </div>
                <div class="right menu">
                    <div class="ui item">
                        <a> what is Peppameter?</a>
                    </div>
                    <div class="ui item">
                        <a href="#" th:href="@{/pt_critics}"> PT Critics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- code login modal-->
    <div class="ui m-padded-big modal" id="login_modal">
        <i class="close icon"></i>
        <div class="ui aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        WELCOME LOG IN
                    </div>
                </h2>
                <form class="ui form" method="post" action="/login">
                    <div class="ui  segment">
                        <div class="ui error message"></div>

                        <!--username-->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Username">
                            </div>
                        </div>
                        <!--password-->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="field">
                            <button class="ui fluid large teal submit button" onclick="login_fun2()">Log In</button>
                        </div>
                        <div class="actions field">
                            <div class="ui fluid large red deny button " id="cancel">
                                Cancel
                            </div>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div>
                                <p class="">Forgot Your <a href="#" th:href="@{/forgot_password_username_prompt}"> password ? </a></p>
                                <p class="">Create <a href=""> New Account </a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--+++++++++++ sign up +++++++++++++-->
    <div class="ui m-padded-big modal" id="signup_modal">
        <i class="close icon"></i>
        <div class="ui aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content teal">
                        SIGN UP FOR PEPPA
                    </div>
                </h2>
                <form class="ui form" method="post" action="/signup">
                    <div class="ui error message"></div>
                    <div class="ui  segment">

                        <div class="field ">
                            <div class="two fields">
                                <!--first name-->
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <!--last name-->
                                <div class="field">
                                    <input type="text" name="lastname" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <!--username-->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user circle icon"></i>
                                <input type="text" name="username" placeholder="Username">

                            </div>
                        </div>
                        <!--email-->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="envelope icon"></i>
                                <input type="text" name="email" placeholder="Email">
                            </div>
                        </div>
                        <!--password-->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password_signup" placeholder="Password">
                            </div>
                        </div>
                        <!--repeat password-->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="re_password" placeholder="Confirm Password">
                            </div>
                        </div>
                        <!--capcha-->
                        <div class="g-recaptcha field"  data-sitekey="6LeKKFkUAAAAAC2V9Wfe4ni1OoVrpm2K91eeHSLR"></div>


                        <div class="field">
                            <button class="ui fluid large teal submit button" onclick="signup_fun2()"> Sign Up</button>
                        </div>
                        <div class="actions field">
                            <div class="ui fluid large red deny button" id="cancel2">
                                Cancel
                            </div>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div>
                                <p class="">Already have an account <a href=""> Log In </a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ui m-padded-big modal" id="signup_successful_modal" th:if="${session.exist == 0}">
        <i class="close icon"></i>
        <div class="ui aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        Please Verify Your Email To Complete Register!
                    </div>
                </h2>
            </div>
        </div>
    </div>


    <div class="ui m-padded-big modal" id="signup_fail_modal" th:if="${session.exist == 1}">
        <i class="close icon"></i>
        <div class="ui aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        Sorry! UserName Already Exist.
                    </div>
                </h2>
            </div>
        </div>
    </div>

    <div class="ui m-padded-big modal" id="signup_not_robot_modal" th:if="${session.exist == 2}">
        <i class="close icon"></i>
        <div class="ui aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        Sorry! You Did Not Pass Robotic Check.
                    </div>
                </h2>
            </div>
        </div>
    </div>

    <!--WHAT IS THE PEPPAMETER?-->
    <div class="ui m-padded-big modal" id="peppameter_modal">
        <i class="close icon"></i>
        <div class="ui aligned center aligned grid">
            <div class="column">
                <h2 class="ui inverted horizontal divider header">WHAT IS THE PEPPAMETER?</h2>
                <p class="m-text">
                    The Tomatometer score — based on the opinions of hundreds of film and television critics — is a
                    trusted measurement of critical recommendation for millions of fans. It represents the percentage of
                    professional critic reviews that are positive for a given film or television show.
                </p>
            </div>
        </div>
    </div>

    <div class="ui visible sidebar inverted vertical">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <a href="#" th:href="@{https://www.starbucks.com/}"> <img src="#" th:src="@{/images/ad/ad1.jpg}" width="150"></a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" th:href="@{https://www.wessonoil.com/}"><img src="#" th:src="@{/images/ad/ad2.jpg}" width="150"></a>

    </div>
</nav>
</body>
</html>