<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>About Peppa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
<div class="ui container">
    <div class="ui inverted attached segment">

        <div class="ui stackable grid">
            <!--about peppa-->
            <div class="eleven wide column">
                <!--<div class="ui inverted attached segment">-->
                <div class="m-bottom-padded-medium">
                    <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">ABOUT PEPPA</h2>
                    <p class="m-opacity-mini">
                        Peppa and the Peppameter score are the most trusted recommendation sources for quality entertainment.
                        As the leading online aggregator of movie reviews from professional critics, Peppa offers the most
                        comprehensive guide to what's Fresh. The world famous Peppameter score represents the percentage
                        of positive professional reviews for films and TV shows and is used by millions of fans to help
                        with their viewing decisions. Peppa designates the best-reviewed movies shows as Certified Fresh.
                        That accolade is awarded with a Peppameter score of 75% and higher and a required minimum number
                        of reviews.
                    </p>
                    <p class="m-opacity-mini">
                        In 2016, Flixster and Peppa became part of Fandango's portfolio of digital properties, serving
                        moviegoers and entertainment fans.
                    </p>
                </div>

                <div class="m-bottom-padded-medium">
                    <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">WHAT IS THE PEPPAMETER?</h2>
                    <p class="m-opacity-mini">
                        The Peppameter score – based on the opinions of hundreds of film and television critics – is a
                        trusted measurement of critical recommendation for millions of fans.
                    </p>
                    <p class="m-opacity-mini">
                        Back in the days of the open theaters, when a play was particularly atrocious, the audience
                        expressed their dissatisfaction by not only booing and hissing at the stage, but also throwing
                        whatever was at hand – vegetables and fruits included.
                    </p>
                    <p class="m-opacity-mini">
                        The Tomatometer score represents the percentage of professional critic reviews that are positive
                        for a given film or television show. A Tomatometer score is calculated for a movie or TV show
                        after it receives at least five reviews.
                    </p>
                </div>

                <div class="m-bottom-padded-medium">
                    <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">WHAT IS CERTIFIED FRESH?</h2>
                    <p class="m-opacity-mini">
                        Certified Fresh status is a special distinction awarded to the best-reviewed movies.
                        In order to qualify, movies or TV shows must meet the following requirements:

                        <ul class="ui list">
                            <li>A steady Peppameter score of 75% or higher.</li>
                            <li>At least five reviews from Top Critics.</li>
                            <li>Films in wide release must have a minimum of 80 reviews.</li>
                        </ul>

                    </p>
                    <p class="m-opacity-mini">
                        A movie that reaches the requirements for Certified Fresh doesn't immediately receive the
                        designation. Instead, it is automatically flagged for our staff's consideration. Once the team
                        can determine that it's unlikely the score will drop below the minimum requirements, they will
                        mark it Certified Fresh.
                    </p>

                    <p>
                        If the Peppameter score drops below 70%, then the movie will lose its Certified Fresh status.
                    </p>
                </div>

                <div class="m-bottom-padded-medium">
                    <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">WHAT IS THE AUDIENCE SCORE?</h2>
                    <p class="m-opacity-mini">
                        The Audience rating, is the percentage of all users who have rated the movie positively.
                    </p>
                </div>

            </div>

            <!--contact us-->
            <div class="m-padded-median five wide column">

                <h2 class="ui inverted header">CONTACT US</h2>
                <div class="ui inverted list">
                    <div class="m-padded-top-bottom-mini">
                        <div class="m-sub-header">Customer Support</div>
                        <span>Visit our <a href="#">FAQs</a> or fill out our <a href="#">Email Form</a>.</span>
                    </div>
                    <div class="m-padded-top-bottom-mini">
                        <div class="m-sub-header">Licensing or Partnership Inquiries</div>
                        <span>Fill out our <a class="item" href="#">Business Proposal Form</a>.</span>
                    </div>
                    <div class="m-padded-top-bottom-mini">
                        <div class="m-sub-header">Submit Movie Information</div>
                        <span><a href="#">Tell us</a> about missing or incorrect movie.</span>
                    </div>
                    <div class="m-padded-top-bottom-mini">
                        <div class="m-sub-header">Advertise</div>
                        <span>Review <a href="#">Fandango Advertising Opportunities</a>.</span>
                    </div>
                    <div class="m-padded-top-bottom-mini">
                        <div class="m-sub-header">Follow Us</div>
                            <div class="m-follow-us"><a href="#" class="item"><img class="small image" src="static/images/004-facebook.png"
                                                                              th:src="@{/images/004-facebook.png}"
                                                                              alt="loading"></a></div>
                            <div class="m-follow-us"><a href="#" class="item"><img src="static/images/003-twitter.png"
                                                                              th:src="@{/images/003-twitter.png}"
                                                                              alt="loading"></a>
                            </div>
                            <div class="m-follow-us"><a href="#" class="item"><img src="static/images/if_snapchat_386706.png"
                                                                              th:src="@{/images/if_snapchat_386706.png}"
                                                                              alt="loading"></a></div>
                            <div class="m-follow-us"><a href="#" class="item"><img src="static/images/001-instagram.png"
                                                                              th:src="@{/images/001-instagram.png}"
                                                                              alt="loading"></a></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<footer th:replace="_fragments :: footerImg()"></footer>
<!--js-->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
<script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
<script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>

</body>


</html>