<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Profile Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
<div class="ui container">
    <div class="ui inverted attached segment">
        <div class="ui container">

            <!--body-->
            <div class="ui grid">

                <div class="ui top inverted attached tabular menu ">
                    <a class="item active" data-tab="first">View Reported Users</a>
                    <a class="item" data-tab="second">View Reported Reviews</a>
                    <a class="item" data-tab="third">Critic Account Application</a>
                    <a class="item " data-tab="fourth">Create New Page</a>
                    <!--<a class="item " data-tab="four">Rating History</a>-->
                </div>

                <!--tab 1-->
                <div class="ui inverted bottom attached tab segment active" data-tab="first">

                    <div class="ui inverted segment ">
                        <div class="ui grid">
                            <div class="row" th:each="tag : ${reported_user_list}">
                                <div class="three wide center aligned column">
                                    <a href="#" th:href="@{/user_profile/{id}(id=${tag.userID})}" th:text="${tag.userName}">


                                    </a>
                                    <p th:text="${tag.userName}">user name  </p>

                                    <!--<a href="#"  class="ui blue label"><i class="inverted edit outline icon"></i>Edit</a>-->
                                </div>
                                <div class="nine wide column">
                                    <a href="#" th:href="@{/admin_summary/ignore_user/{id}(id=${tag.userID})}" class="ui green label">Ignore</a>
                                    <a href="#" th:href="@{/admin_summary/block_user/{id}(id=${tag.userID})}" class="ui yellow label ">Block</a>
                                    <a href="#" th:href="@{/admin_summary/remove_user/{id}(id=${tag.userID})}" class="ui red label ">Delete</a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <!--tab 2-->
                <div class="ui inverted bottom attached tab segment" data-tab="second">

                    <div class="ui inverted segment ">
                        <div class="ui grid">
                            <div class="row" th:each="tag : ${reported_review_list}">
                                <div class="three wide center aligned column">
                                    <a href="#" th:href="@{/movie/{id}(id=${tag[1].movieID})}" th:text="${tag[1].movieName}">


                                    </a>
                                    <p th:text="${tag[0].comment}">   </p>
                                    <p>Reviewed by </p>
                                    <a href="#" th:href="@{/user_profile/{id}(id=${tag[0].reviewUser.userID})}" th:text="${tag[0].reviewUser.userName}">


                                    <!--<a href="#"  class="ui blue label"><i class="inverted edit outline icon"></i>Edit</a>-->
                                </div>
                                <div class="nine wide column">
                                    <a href="#" th:href="@{/admin_summary/ignore_review/{id}(id=${tag[0].reviewID})}" class="ui green label">Ignore</a>
                                    <a href="#" th:href="@{/admin_summary/remove_review/{id}(id=${tag[0].reviewID})}" class="ui red label ">Delete</a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>


                <!--tab 2-->
                <div class="ui inverted bottom attached tab segment" data-tab="third">
                    <div class="ui inverted segment ">
                        <div class="ui grid">
                            <div class="row" th:each="tag : ${critic_applyers}">
                                <div class="three wide center aligned column">
                                    <a href="#" th:href="@{/user_profile/{id}(id=${tag.userID})}" th:text="${tag.userName}"  >  </a>
                                    <p th:text="${tag.userName}">user name  </p>
                                    <!--<p th:text="${tag.movieName}">Black Panther   </p>-->

                                    <!--<a href="#"  class="ui blue label"><i class="inverted edit outline icon"></i>Edit</a>-->
                                </div>
                                <div class="nine wide column">

                                    <a href="#" class="ui green label" th:href="@{/admin_summary/approve_critic/{id}(id=${tag.userID})}">Approve</a>
                                    <a href="#" class="ui red label " th:href="@{/admin_summary/reject_critic/{id}(id=${tag.userID})}">Reject</a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="ui inverted bottom attached tab segment" data-tab="fourth">
                    <!--tab 3-->
                    <form class="ui form inverted">
                        <div class="field">
                            <label>Movie Description</label>
                            <textarea rows="3" name="description"></textarea>
                        </div>
                        <div class="field">
                            <label>Movie Name</label>
                            <input type="text" name="movie_name" placeholder="The Shape Of Water">
                        </div>
                        <div class="field">
                            <label>Genres</label>
                            <input type="text" name="movie_genres" placeholder="Action,Drama">
                        </div>
                        <div class="field">
                            <label>Time</label>
                            <input type="text" name="movie_time" placeholder="120">
                        </div>
                        <div class="field">
                            <label>Type</label>
                            <input type="text" name="type" placeholder="movie/tv">
                        </div>
                        <div class="field">
                            <label>Released Date</label>
                            <input type="text" name="movie_date" placeholder="2018-5-10">
                        </div>

                        <button class="ui button" type="submit">Submit</button>
                    </form>

                </div>


            </div>
        </div>
    </div>
</div>

    <footer th:replace="_fragments :: footerImg()"></footer>
    <!--js-->

    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
    <script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
    <script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>
    <script>
        $('.menu .item').tab({history: false});
    </script>
</body>
</html>