<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">

    <title>Email Verify Successful</title>

</head>
<body>
<br>
<br>
<br>
<br>
<br>
<div class="ui container inverted ">
    <div class="ui center aligned container">

        <h1> Peppa Email Verification</h1>
    </div>
    <br>
    <br>
    <br>
    <div class="ui center aligned grid">

        <div class="ui green message ">
            <div class="header">
                Congradulation!
            </div>
            <p>you have verified your email. Go you Peppa to enjoy it!</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="ui center aligned container" >
        <a href="#" th:href="@{/}" class="ui green button " >Back To Pappa </a>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--footer-->
<!--<footer th:replace="_fragments :: footerImg()"></footer>-->
<!--js-->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

</body>
</html>