<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>

<div class="ui container">
    <div class="ui inverted attached segment">
        <div class="ui grid">

            <div class="ui sixteen wide column">
                <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">CONTACT US</h2>

                <h3>Customer Service</h3>
                <div class="m-left-right-bottom-padded-small m-text">
                    <P>
                        Visit About Rotten Tomatoes® to learn more about the Tomatometer® and team behind it.
                        For quick answers to common questions about our site, visit our Frequently Asked Questions.
                    </P>
                    <p>
                        Still have questions or want to submit a movie or TV data edit request? Contact us via our Email
                        Form.
                    </p>
                </div>

                <h3>Edit Requests</h3>
                <div class="m-left-right-bottom-padded-small m-text">
                    <p>Tell us about missing or incorrect movie or TV information by submitting a request via our Email
                        Form.</p>
                    <p>Are we missing a review? Review our Tomatometer Criteria to make sure that the publication and critic
                        are approved before submitting a request to add a review.</p>
                </div>

            </div>

        </div>
    </div>
</div>
</div>

<footer th:replace="_fragments :: footerImg()"></footer>
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
<script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
<script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>

</body>


</html>