<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <title>Peppa</title>
</head>

<body>
<!-- nav bar-->
<nav th:replace="_fragments :: navBar()"></nav>
<div class="slicks container center aligned">
    <div><a href="movie_detail" th:href="@{/movie/1309}" name="1"> <img src="../static/images/rolling_img/black_panther.jpg" th:src="@{/images/rolling_img/black_panther.jpg}"/></a></div>
    <div><a href="movie_detail" th:href="@{/movie/2032}" name="2"> <img src="../static/images/rolling_img/i_can_only_imagine.jpg" th:src="@{/images/rolling_img/i_can_only_imagine.jpg}"/></a></div>
    <div><a href="movie_detail" th:href="@{/movie/2006}" name="3"> <img src="../static/images/rolling_img/jumanji.jpg" th:src="@{/images/rolling_img/jumanji.jpg}"/></a></div>
    <div><a href="movie_detail" th:href="@{/movie/2033}" name="4"> <img src="../static/images/rolling_img/pacific.jpg" th:src="@{/images/rolling_img/pacific.jpg}"/></a></div>
    <div><a href="movie_detail" th:href="@{/movie/2005}" name="5"> <img src="../static/images/rolling_img/the_shape_of_water.jpg" th:src="@{/images/rolling_img/the_shape_of_water.jpg}"/></a></div>
</div>

<!-- main -->
<div class="ui container margin-m segment main inverted segment"   >
    <div class="ui container ">
        <div class="ui grid">
            <!--left main part-->
            <div class="thirteen wide column">
                <!-- ++++++++++++++++++++++++ opening in theater +++++++++++++++++++-->
                <div class="ui teal m-header-median m-margin-top-bottom-small inverted attached segment">
                    <div class="ui container top m-padded-bottom-big movie-title two column grid">
                        <div class="column">
                            <h2 class="teal header inverted ">Opening In Theater</h2>
                        </div>
                        <div class="column right aligned inverted ">
                            <div class="view-all">
                                <a  href="#">view all <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--movie body-->
                    <div class="ui grid container inverted movie-body">
                        <div class="four wide center aligned column"  th:each="tag : ${movie_lists[0]}"  >
                            <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                            <h4 th:text="${tag.movieName}">Black Panther   </h4>
                            <div th:text="${tag.runtimeMinutes}"> </div><div>Minutes</div>
                            <!--<p>Released Feb 16</p>-->
                            <button class="ui mini red button">Get Tickets</button>
                        </div>


                    </div>
                <!--++++++++++++++++++++++++ top box Office +++++++++++++++++++++++++++-->
                <div class="ui teal m-header-median m-margin-top-bottom-small inverted attached segment">
                    <div class="ui container top m-padded-bottom-big movie-title two column grid">
                        <div class="column">
                            <h2 class="teal header inverted ">Top Box Office</h2>
                        </div>

                        <div class="column right aligned inverted ">
                            <div class="view-all">
                                <a  href="#">view all <i class="angle double right icon"></i></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="ui grid container inverted movie-body">
                    <div class="four wide center aligned column"  th:each="tag : ${movie_lists[1]}"  >
                        <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                        <h4 th:text="${tag.movieName}">Black Panther   </h4>
                        <div th:text="${tag.runtimeMinutes}"> </div><div>Minutes</div>
                        <!--<p>Released Feb 16</p>-->
                        <button class="ui mini red button">Get Tickets</button>
                    </div>
                </div>
                <!--++++++++++++++++++++++++ Certified Fresh Peppa +++++++++++++++++++++++++++-->
                <div class="ui teal m-header-median m-margin-top-bottom-small inverted attached segment">
                    <div class="ui container top m-padded-bottom-big movie-title two column grid">
                        <div class="column">
                            <h2 class="teal header inverted ">Certified Fresh</h2>
                        </div>
                        <div class="column right aligned inverted ">
                            <div class="view-all">
                                <a  href="#">view all <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--movie body-->
                <div class="ui grid container inverted movie-body">
                    <div class="four wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >
                        <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                        <h4 th:text="${tag.movieName}">Black Panther   </h4>
                        <div th:text="${tag.runtimeMinutes}"> </div><div>Minutes</div>
                        <!--<p>Released Feb 16</p>-->
                        <button class="ui mini red button">Get Tickets</button>
                    </div>
                </div>
                <!--++++++++++++++++++++++++ Comming Soon +++++++++++++++++++++++++++-->
                <div class="ui teal m-header-median m-margin-top-bottom-small inverted attached segment">
                    <div class="ui container top m-padded-bottom-big movie-title two column grid">
                        <div class="column">
                            <h2 class="teal header inverted ">Comming Soon</h2>
                        </div>
                        <div class="column right aligned inverted ">
                            <div class="view-all">
                                <a  href="#">view all <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--movie body-->
                <div class="ui grid container inverted movie-body">
                    <div class="four wide center aligned column"  th:each="tag : ${movie_lists[3]}"  >
                        <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                        <h4 th:text="${tag.movieName}">Black Panther   </h4>
                        <div th:text="${tag.runtimeMinutes}"> </div><div>Minutes</div>
                        <!--<p>Released Feb 16</p>-->
                        <button class="ui mini red button">Get Tickets</button>
                    </div>
                </div>
            </div>
            <!--right aside part-->
            <div class="three wide column">
                <!--<a href="#"><img class="ui fluid  image" src="../static/images/1.jpg" alt="Image"></a>-->
                <!--<a href="#"><img class="ui fluid  image" src="../static/images/1.jpg" alt="Image"></a>-->
                <!--<a href="#"><img class="ui fluid  image" src="../static/images/1.jpg" alt="Image"></a>-->
                <!--<a href="#"><img class="ui fluid  image" src="../static/images/1.jpg" alt="Image"></a>-->
                <!--<a href="#"><img class="ui fluid  image" src="../static/images/1.jpg" alt="Image"></a>-->
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer th:replace="_fragments :: footerImg()"></footer>
</body>

</html>