<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Comming Soon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
    <div class="ui container">
        <div class="ui inverted attached segment">
            <div class="ui stackable grid">
                <!--side bar-->
                <div class="four wide column">
                    <nav>
                        <div class="ui container">
                            <div class="ui inverted secondary stackable vertical menu">
                                <div class="ui teal header item">IN THEATERS</div>
                                <div class="m-padded-right">
                                    <a href="#" class="active item">Opening This Week</a>
                                    <a href="#" class="item">Top Box Office</a>
                                    <a href="#" class="item">Coming Soon</a>
                                    <a href="#" class="item">Certified Fresh Movies</a>
                                </div>
                            </div>

                            <div class="ui inverted secondary stackable vertical menu">
                                <div class="ui teal header item">RECOMMENDED MOVIES</div>
                                <div class="m-padded-right">
                                    <a href="#" class="active item">movie</a>
                                    <a href="#" class="item">movie</a>
                                    <a href="#" class="item">movie</a>
                                    <a href="#" class="item">movie</a>
                                </div>
                            </div>

                            <div class="ui grid container">
                                <div class="column">
                                    <a href="#"><img class="ui fluid rounded image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}" alt="Image"></a>
                                </div>
                            </div>

                            <div class="ui medium rectangle ad">

                                <!--<ins class="adsbygoogle"-->
                                     <!--style="display:inline-block;width:300px;height:250px"-->
                                     <!--data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"-->
                                     <!--data-ad-slot="XXXXXXXXXX"></ins>-->
                                <!--<script>-->
                                <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
                                <!--</script>-->

                            </div>
                            <div class="ui leaderboard ad">

                                <!--<ins class="adsbygoogle"-->
                                     <!--style="display:inline-block;width:728px;height:90px"-->
                                     <!--data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"-->
                                     <!--data-ad-slot="XXXXXXXXXXXXXXXX"></ins>-->
                                <!--<script>-->
                                <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
                                <!--</script>-->

                            </div>
                        </div>
                    </nav>
                </div>

                <!--movie list-->
                <div class="twelve wide column">
                        <h2 class="ui teal center aligned header">Coming Soon</h2>
                        <div class="ui center aligned grid container">
                            <div class="four wide column">
                                <a href="#"><img class="ui fluid image" src="../static/images/1.jpg"  th:src="@{/images/1.jpg}" alt="Image"></a>
                                <h4>Black Panther</h4>
                                <div id="star_rate" class=" ui big star rating"></div>
                                <p class="m-opacity-mini">In Theaters Apr 6</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script type="text/javascript">
        $('.ui.rating')
            .rating({
                initialRating: 3,
                maxRating: 5
            })
            .rating('disable');
    </script>

</body>
<footer th:replace="_fragments :: footerImg()"></footer>
</html>