<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Movie Detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
<div class="ui container">
    <div class="ui inverted attached segment">
        <div class="ui grid">
            <!--Trailer-->
            <div class="sixteen wide column">trailer</div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <!--review-->
            <div class="sixteen wide column">
                <div class="ui grid">
                    <div class="four wide column">
                        <a href="#"><img class="ui fluid image" name="poster main"  alt="Image" th:src="@{${movie.moviePoster}}" ></a>
                    </div>
                    <div class="twelve wide column">
                        <div class="sixteen wide column">
                            <div class="ui grid">
                                <div class="class eleven wide column">
                                    <div class="ui grid">
                                        <div class="class six wide column">
                                            <h4>TOMATOMETER</h4>
                                            <a href="#"><h1>92%</h1></a>
                                            <p>Average Rating: 7.5/10</p>
                                            <p>Reviews Counted: 118</p>
                                            <p>Fresh: 108</p>
                                            <p>Rotten: 10</p>
                                        </div>
                                        <div class="class eight wide column">
                                            <h5>All Critics | Top Critics</h5>
                                            <p class="m-opacity-mini">
                                                Critics Consensus: Love, Simon hits its coming-of-age beats more deftly
                                                than many entries
                                                in this well-traveled genre -- and represents an overdue, if not
                                                entirely successful,
                                                milestone of inclusion.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <h4>AUDIENCE SCORE</h4>
                                    <a href="#"><h1>90%</h1><h5>like it</h5></a>
                                    <p>Average Rating: 4.5/5</p>
                                    <p>User Ratings: 3,642</p>
                                </div>
                            </div>
                        </div>
                        <!--comment input text-->
                        <div class="sixteen wide column">
                            <div class="ui grid">
                                <div class="four wide column">
                                    <a href="#"><img class="ui fluid image" src="../static/images/portrait.png" th:src="@{/images/portrait.png}"
                                                     alt="Image"></a>
                                </div>

                                    <a class="twelve wide column">

                                        <!--<button class="ui mini red button">+ WANT TO SEE</button>-->
                                        <!--<button class="ui mini grey button">- NOT INTERESTED</button>-->

                                        <a class="row">
                                            <!--<button type="button"  name="want_to_see_btn" class="ui mini red button active">+ WANT TO SEE</button>-->
                                            <!--<button  type="button" name="not_interested_btn" class="ui mini grey button">- NOT INTERESTED</button>-->

                                            <a  type="button" class="ui mini animated fade green button" tabindex="0" href="#" th:href="@{/movie/{id}/wants_to_see(id=${movie.movieID})}">
                                                <div class="visible content">+ WANT TO SEE</div>
                                                <div class="hidden content">
                                                    <i class="heart icon"></i>
                                                </div>
                                            </a>

                                            <a  type="button" class="ui mini animated fade green button" tabindex="0" href="#" th:href="@{/movie/{id}/not_interested(id=${movie.movieID})}">
                                                <div class="visible content">- NOT INTERESTED</div>
                                                <div class="hidden content">
                                                    <i class="thumbs down icon"></i>
                                                </div>

                                            </a>


                                        </div>
                                        <div class="row">

                                            <div id="star_rate" class=" ui m-padded-top-bottom-tiny m-margin-top-mini segment huge star rating">

                                            </div>
                                            <p id="rate_num" name="rate_num" ></p>

                                        </div>


                                        <div class="ui m-padded-top-bottom-mini form">
                                            <div class="field">
                                                <textarea name="review_text"   placeholder="Add a Review (Optional)"
                                                          rows="7"></textarea>
                                            </div>
                                        </div>

                                        <div class="ui grid">
                                            <div class="ui right aligned column">
                                                <a type="button" class="ui mini grey button" href="#" th:href="@{/movie/{id}/post(id=${movie.movieID})}">Post</a>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--review end-->

            <!--tickets & showtime-->
            <!--<div class="m-padded-small">-->
            <div class="ui teal m-header-median m-margin-top-bottom-small inverted attached segment">TICKETS &amp;
                SHOWTIMES
            </div>
            <div class="ui grid">
                <div class="sixteen wide column">
                    <p>Showtimes for <b>today</b> near <b>East Setauket, NY</b><a href="#"> &nbsp; Change Location</a>
                    </p>
                    <hr>
                    <p><a href="#"> P.J. CINEMAS </a> 1068 Route 112 | <a href="#"> Map </a> | <a href="#">
                        631-928-3456 </a></p>
                    <br>
                    <p class="m-opacity-mini">STANDARD SHOWTIMES</p>
                    <button class="ui small yellow button">12:50pm</button>
                    <button class="ui small yellow button">12:50pm</button>
                    <button class="ui small yellow button">12:50pm</button>
                    <button class="ui small yellow button">12:50pm</button>
                </div>
            </div>
            <!--tickets & showtime end-->

            <!--movie info-->
            <div class="ui teal m-header-median m-margin-top-bottom-small inverted attached segment">MOVIE INFO</div>
            <div class="ui grid">
                <div class="sixteen wide column">

                    <p class="m-opacity-mini" th:text="${movie.briefIntro}" >placeholder
                    </p>
                    <div class="ui list">
                        <div class="item">
                            Rating: &nbsp; &nbsp; PG-13 (for sequences of sci-fi action violence, bloody images, some
                            suggestive material, partial nudity and language)
                        </div>
                        <div class="item">
                            Genre: &nbsp; &nbsp; <a href="#">Action & Adventure</a>, <a href="#">Science Fiction &
                            Fantasy</a>
                        </div>
                        <div class="item">
                            Directed By: &nbsp; &nbsp; <a href="#">Steven Spielberg</a>
                        </div>
                        <div class="item">
                            Written By: &nbsp; &nbsp; <a href="#">Zak Penn</a>, <a href="#">Ernest Cline</a>
                        </div>
                        <div class="item">
                            In Theaters: &nbsp; &nbsp; Mar 29, 2018 Wide
                        </div>
                        <div class="item">
                            Runtime: &nbsp; &nbsp; 140 minutes
                        </div>
                        <div class="item">
                            Studio: &nbsp; &nbsp; <a href="#">Warner Bros. Pictures</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
            <!--movie info end-->

            <!--cast-->
            <div class="ui teal m-header-median m-margin-top-bottom-small inverted attached segment">CAST</div>
            <div class="ui grid">
                <div class="ui sixteen wide column" >
                    <div class="ui relaxed horizontal list">
                        <div class="item">
                            <img class="ui avatar image" src="../static/images/portrait.png" th:src="@{/images/portrait.png}" >
                            <div class="content">
                                <a class="header">Daniel Louise</a>
                                <span class="m-description">as Wade Owen Watts / Parzival</span>
                            </div>
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="../static/images/portrait.png" th:src="@{/images/portrait.png}">
                            <div class="content">
                                <a class="header">Daniel Louise</a>
                                <span class="m-description">as Wade Owen Watts / Parzival</span>
                            </div>
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="../static/images/portrait.png" th:src="@{/images/portrait.png}">
                            <div class="content">
                                <a class="header">Daniel Louise</a>
                                <span class="m-description">as Wade Owen Watts / Parzival</span>
                            </div>
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="../static/images/portrait.png" th:src="@{/images/portrait.png}">
                            <div class="content">
                                <a class="header">Daniel Louise</a>
                                <span class="m-description">as Wade Owen Watts / Parzival</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--cast end-->

            <!--critics review-->
            <!--critics review end-->

        </div>
    </div>
</div>

<footer th:replace="_fragments :: footerImg()"></footer>
<!--js-->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
<script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
<script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>
</body>

</html>