<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Profile Summary</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
<div class="ui container">
    <div class="ui inverted attached segment">
        <div class="ui grid">

            <!--want to see movies-->
            <!--<div class="ui teal m-title inverted attached segment">-->
                <!--<div class="ui tiny header item">WANT-TO-SEE MOVIES</div>-->
            <!--</div>-->
            <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">WANT-TO-SEE MOVIES</h2>
            <div class="center aligned four wide column">
                <a href="#"><img class="ui fluid image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}"
                                 alt="Image"></a>
                <a>Black Panther</a>
            </div>
            <div class="center aligned four wide column">
                <a href="#"><img class="ui fluid image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}"
                                 alt="Image"></a>
                <a>Black Panther</a>
            </div>
            <div class="center aligned four wide column">
                <a href="#"><img class="ui fluid image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}"
                                 alt="Image"></a>
                <a>Black Panther</a>
            </div>
            <div class="center aligned four wide column">
                <a href="#"><img class="ui fluid image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}"
                                 alt="Image"></a>
                <a>Black Panther</a>
            </div>
            <div class="right aligned sixteen wide column">
                <a href="#">More...</a>
            </div>


            <!--rating histoty-->
            <!--<div class="ui teal m-title inverted attached segment">-->
                <!--<div class="ui tiny header item">RATING HISTORY</div>-->
            <!--</div>-->
            <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">RATING HISTORY</h2>
            <div class="ui grid">
                <div class="four wide column">
                    <a href="#"><img class="ui image" src="../static/images/1.jpg" th:src="@{/images/1.jpg}"
                                     alt="Image"></a>
                </div>
                <div class="twelve wide column">
                    <div>
                        <a href="#">Jumanji: Welcome to the Jungle</a>(2017)
                    </div>
                    <div id="star_rate" class=" ui big star rating"></div>
                    <div>Comment</div>
                    <div class="m-description">2 months ago via Peppa</div>
                </div>
            </div>
            <div class="right aligned sixteen wide column">
                <a href="#">More...</a>
            </div>

        </div>
    </div>
</div>

<footer th:replace="_fragments :: footerImg()"></footer>
<!--js-->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
<script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
<script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>

</body>


</html>