<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Profile Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
<div class="ui container">
    <div class="ui inverted attached segment">
        <div class="ui grid">

            <!--left-->
            <div class="four wide column">

                <div class="m-profile-left-inner-padding">
                    <div><a id="portrait_img" href="#"><img class="ui small image"  src="../static/images/portrait.png" th:src="@{/images/portrait.png}" alt="Image"></a></div>
                    <a href="#" th:text="${currentUser.userName}">First Last</a>
                    <div><a href="#" th:href="@{/account/{id}(id=${currentUser.userID})}">Manage Account</a></div>
                    <div><a href="#">Profile Summary</a></div>
                    <div><a th:href="@{/my_profile/follow/{id}(id=${currentUser.userID})}" href="#">+ Follow</a></div>

                </div>

                <!--profile stats-->
                <div>
                    <div class="ui teal m-title inverted attached segment">
                        <div class="ui tiny header item">Profile Stats</div>
                    </div>

                    <div class="">
                        <h4>Total Profile Views: 0</h4>
                        <h4>Profile Views Last 7 Days: 0</h4>
                    </div>
                </div>

                <!--about-->
                <div>
                    <div class="ui teal m-title inverted attached segment two column grid">
                        <div class="column">
                            <div class="ui tiny inverted header item">About</div>
                        </div>
                        <div class="right aligned column">
                            <a class="ui right aligned column" href="#">Edit</a>
                        </div>
                    </div>
                    <div>
                        <h4>Member Since: Feburuary 2018</h4>
                    </div>

                </div>

            </div>

            <!--right-->
            <div class="twelve wide column">

                <div class="ui top inverted attached tabular menu ">
                    <a class="item active" data-tab="first">Summary</a>
                    <a class="item" data-tab="second">Want To See</a>
                    <a class="item " data-tab="third">Not Interested</a>
                    <a class="item " data-tab="four">Rating History</a>
                    <a class="item " data-tab="fifth">Followers</a>
                    <a class="item " data-tab="sixth">Followings</a>
                </div>
                <!--Summary detail-->
                <!--tab 1-->
                <div class="ui inverted bottom attached tab segment active" data-tab="first">

                    <!--want to see movie-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">WANT TO SEE MOVIE</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${wantToSee}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/wantsToSee/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--NOT INTEREST MOVIE-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED MOVIE</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${notInterested}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/notInterested/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--want to see tv-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">WANT TO SEE TV</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>


                                </div>
                            </div>

                        </div>
                    </div>

                    <!--NOT INTEREST tv-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED TV</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--rating movie-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">RATING HISTORY</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="row" th:each="tag : ${rateMovies}">
                                    <div class="three wide center aligned column">
                                        <a href="#" th:href="@{/movie/{id}(id=${tag[1].movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag[1].moviePoster}"  alt="Image"></a>
                                        <!--<p th:text="${tag.movieName}">Black Panther   </p>-->
                                        <p>score</p>
                                        <!--<a href="#"  class="ui blue label"><i class="inverted edit outline icon"></i>Edit</a>-->


                                    </div>
                                    <div class="nine wide column"  >
                                        <p th:text="${tag[0].comment}">fjdafoiadsjfioasjfaiosfjasvjidaosjfdsiaovjcdaisovjaiocjsiaodjciso</p>
                                        <a th:href="@{/my_profile/delete/{mid}(mid=${tag[1].movieID})}" href="#" class="ui red label ">Delete</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!--followers-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">FOLLOWERS</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followers}"  >
                                    <a href="#" th:href="@{/my_profile/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--followings-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">FOLLOWINGS</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followings}"  >
                                    <a href="#" th:href="@{/my_profile/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/followings/{id}(id=${tag.userID})}" href="#" class="ui red label ">Unfollow</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Want to see second-->
                <!--tab 2-->
                <div class="ui inverted bottom attached tab segment" data-tab="second">
                    <!--want to see movie-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">WANT TO SEE MOVIE</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${wantToSee}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/wantsToSee/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>


                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- want to see tv-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">WANT TO SEE TV</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- not interest-->
                <!--tab 3-->
                <div class="ui inverted bottom attached tab segment " data-tab="third">
                    <!--NOT INTEREST MOVIE-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED MOVIE</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${notInterested}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/notInterested/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>

                                </div>
                            </div>

                        </div>
                    </div>


                    <!--NOT INTEREST tv-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED TV</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--rating history-->
                <!-- tab 4-->
                <div class="ui inverted bottom attached tab segment " data-tab="four">
                    <!--rating movie-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">RATING HISTORY</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="row" th:each="tag : ${rateMovies}">
                                    <div class="three wide center aligned column">
                                        <a href="#" th:href="@{/movie/{id}(id=${tag[1].movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag[1].moviePoster}"  alt="Image"></a>
                                        <!--<p th:text="${tag.movieName}">Black Panther   </p>-->
                                        <p>score</p>
                                        <!--<a href="#"  class="ui blue label"><i class="inverted edit outline icon"></i>Edit</a>-->


                                    </div>
                                    <div class="nine wide column"  >
                                        <p th:text="${tag[0].comment}">fjdafoiadsjfioasjfaiosfjasvjidaosjfdsiaovjcdaisovjaiocjsiaodjciso</p>
                                        <a th:href="@{/my_profile/delete/{mid}(mid=${tag[1].movieID})}" href="#" class="ui red label ">Delete</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- followers-->
                <!--tab 5-->
                <div class="ui inverted bottom attached tab segment " data-tab="fifth">
                    <!--followers-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">FOLLOWERS</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followers}"  >
                                    <a href="#" th:href="@{/my_profile/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- followings-->
                <!--tab 6-->
                <div class="ui inverted bottom attached tab segment " data-tab="sixth">
                    <!--followings-->
                    <div class="row review-padding">
                        <div class="ui teal m-header-median  inverted attached segment">FOLLOWINGS</div>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followings}"  >
                                    <a href="#" th:href="@{/my_profile/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/followings/{id}(id=${tag.userID})}" href="#" class="ui red label ">Unfollow</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

<footer th:replace="_fragments :: footerImg()"></footer>
<!--js-->

<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
<script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
<script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>
<script>
    $('.menu .item').tab({history:false});
</script>
</body>
</html>