<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Profile Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<div class="ui container">
    <div class="ui inverted attached segment">
        <div class="ui grid">

            <!--left-->
            <div class="four wide column">

                <div class="m-profile-left-inner-padding">
                    <div><a id="portrait_img" href="#"><img class="ui small image"  src="../static/images/portrait.png" th:src="@{/images/portrait.png}" alt="Image"></a></div>
                    <a href="#">First Last</a>
                    <div><a href="#">Manage Account</a></div>
                    <div><a href="#">Profile Summary</a></div>
                </div>

                <!--profile stats-->
                <div>
                    <div class="ui teal m-title inverted attached segment">
                        <div class="ui tiny header item">Profile Stats</div>
                    </div>

                    <div class="">
                        <h4>Total Profile Views: 0</h4>
                        <h4>Profile Views Last 7 Days: 0</h4>
                    </div>
                </div>

                <!--about-->
                <div>
                    <div class="ui teal m-title inverted attached segment two column grid">
                        <div class="column">
                            <div class="ui tiny inverted header item">About</div>
                        </div>
                        <div class="right aligned column">
                            <a class="ui right aligned column" href="#">Edit</a>
                        </div>
                    </div>
                    <div>
                        <h4>Member Since: Feburuary 2018</h4>
                    </div>

                </div>

            </div>

            <!--right-->
            <div class="twelve wide column">

                <div class="ui inverted segment">
                    <div class="ui inverted secondary pointing menu">
                        <a class="active item">Summary</a>
                        <a class="item">Movie Ratings</a>
                        <a class="item">Want to see / Not Interested</a>
                        <a class="item">My critics</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</body>
</html>