<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Profile Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
<div class="ui container">
    <div class="ui inverted attached segment">
        <div class="ui grid">

            <!--left-->
            <div class="four wide column ui center aligned container">

                <div class="">
                    <!--<div class="m-margin-left-big m-margin-right-big m-margin-top-big">-->
                        <!--<a id="portrait_img" href="#"><img  src="../static/images/portrait.png" height="200" width="200" th:src="${currentUser.photo}" alt="1" ></a>-->
                    <a id="portrait_img" href="#"><img  src="" height="200" width="200" th:src="${currentUser.photo}"  onError="this.onerror=null;this.src='/images/default_user.png';"></a>


                    <!--</div>-->

                    <div th:if="${vip==false}"><a href="#" class="ui green small basic button" th:text="${currentUser.userName}">First Last</a></div>
                    <div th:if="${vip==true}"><a href="#" class="ui orange button small" th:text="${'[VIP]  '+currentUser.userName}">First Last</a></div>
                    <br>
                    <div><a href="#" class="ui black inverted mini basic button" th:href="@{/account/{id}(id=${currentUser.userID})}">Manage Account</a></div>
                    <br>
                    <div><a href="#" class="ui black inverted mini basic button">Profile Summary</a></div>

                    <form method="post" th:action="@{/handleUploadPic/{id}(id=${currentUser.userID})}" enctype="multipart/form-data">
                         <div>
                            <label for="profile_pic">Choose image to upload</label>
                            <input type="file" id="profile_pic" name="profile_pic"
                                   accept=".png">
                        </div>
                        <!--<div class="ui "></div>-->
                        <div>
                            <button>Upload</button>
                        </div>
                    </form>

                </div>

                <!--profile stats-->
                <div class="m-top-padded-large">
                    <h2 class="ui inverted header">Profile Status</h2>
                    <!--<div class="">-->
                        <p>Total Profile Views: 0</p>
                        <p>Profile Views Last 7 Days: 0</p>
                    <!--</div>-->
                </div>

                <!--about-->
                <div class="m-top-padded-large">
                    <div class="ui two column grid">
                        <div class="column">
                            <h2 class="ui inverted header">About</h2>
                        </div>
                        <div class="right aligned column">
                            <a class="ui right aligned column" href="#">Edit</a>
                        </div>
                    </div>
                    <div class="">
                        <p>Member Since: Feburuary 2018</p>
                    </div>

                </div>

            </div>

            <!--right-->
            <div class="twelve wide column">

                <div class="ui inverted menu">
                    <a class="item active" data-tab="first">Summary</a>
                    <a class="item" data-tab="second">Want To See</a>
                    <a class="item " data-tab="third">Not Interested</a>
                    <a class="item " data-tab="four">Rating History</a>
                    <a class="item " data-tab="fifth">Followers</a>
                    <a class="item " data-tab="sixth">Followings</a>
                </div>
                <!--Summary detail-->
                <!--tab 1-->
                <div class="ui inverted bottom tab segment active" data-tab="first">

                    <!--want to see movie-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">WANT TO SEE MOVIE</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">WANT-TO-SEE MOVIES</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${wantToSee}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/wantsToSee/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--NOT INTEREST MOVIE-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED MOVIE</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">NO INTERESTED MOVIES</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${notInterested}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/notInterested/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--&lt;!&ndash;want to see tv&ndash;&gt;-->
                    <!--<div class="row review-padding">-->
                        <!--<div class="ui teal m-header-median  inverted attached segment">WANT TO SEE TV</div>-->
                        <!--<div class="ui inverted segment ">-->
                            <!--<div class="ui grid">-->
                                <!--<div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >-->
                                    <!--<a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>-->
                                    <!--<p th:text="${tag.movieName}">Black Panther   </p>-->


                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->

                    <!--NOT INTEREST tv-->
                    <!--<div class="row review-padding">-->
                        <!--<div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED TV</div>-->
                        <!--<div class="ui inverted segment ">-->
                            <!--<div class="ui grid">-->
                                <!--<div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >-->
                                    <!--<a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>-->
                                    <!--<p th:text="${tag.movieName}">Black Panther   </p>-->

                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->

                    <!--rating movie-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">RATING HISTORY</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">RATING HISTORY</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="row" th:each="tag : ${rateMovies}">
                                    <div class="three wide center aligned column">
                                        <a href="#" th:href="@{/movie/{id}(id=${tag[1].movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag[1].moviePoster}"  alt="Image"></a>
                                        <!--<p th:text="${tag.movieName}">Black Panther   </p>-->
                                        <p th:if="${tag[0].rate == 20}" >&#11088</p>
                                        <p th:if="${tag[0].rate == 40}" >&#11088&#11088</p>
                                        <p th:if="${tag[0].rate == 60}" >&#11088&#11088&#11088</p>
                                        <p th:if="${tag[0].rate == 80}" >&#11088&#11088&#11088&#11088</p>
                                        <p th:if="${tag[0].rate == 100}" >&#11088&#11088&#11088&#11088&#11088</p>
                                        <!--<a href="#"  class="ui blue label"><i class="inverted edit outline icon"></i>Edit</a>-->


                                    </div>
                                    <div class="nine wide column"  >
                                        <p th:text="${tag[0].comment}">fjdafoiadsjfioasjfaiosfjasvjidaosjfdsiaovjcdaisovjaiocjsiaodjciso</p>
                                        <a th:href="@{/my_profile/delete/{mid}(mid=${tag[1].movieID})}" href="#" class="ui red label ">Delete</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!--followers-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">FOLLOWERS</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">FOLLOWERS</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followers}"  >
                                    <a href="#" th:href="@{/user/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--followings-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">FOLLOWINGS</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">FOLLOWING</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followings}"  >
                                    <a href="#" th:href="@{/user/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/followings/{id}(id=${tag.userID})}" href="#" class="ui red label ">Unfollow</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Want to see second-->
                <!--tab 2-->
                <div class="ui inverted bottom tab segment" data-tab="second">
                    <!--want to see movie-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">WANT TO SEE MOVIE</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">WANT-TO-SEE MOVIES</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${wantToSee}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/wantsToSee/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>


                                </div>
                            </div>

                        </div>
                    </div>

                    <!--&lt;!&ndash; want to see tv&ndash;&gt;-->
                    <!--<div class="row review-padding">-->
                        <!--<div class="ui teal m-header-median  inverted attached segment">WANT TO SEE TV</div>-->
                        <!--<div class="ui inverted segment ">-->
                            <!--<div class="ui grid">-->
                                <!--<div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >-->
                                    <!--<a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>-->
                                    <!--<p th:text="${tag.movieName}">Black Panther   </p>-->


                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                </div>

                <!-- not interest-->
                <!--tab 3-->
                <div class="ui inverted bottom tab segment " data-tab="third">
                    <!--NOT INTEREST MOVIE-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED MOVIE</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">NOT INTERESTED MOVIES</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${notInterested}"  >
                                    <a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>
                                    <p th:text="${tag.movieName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/notInterested/{mid}(mid=${tag.movieID})}" href="#" class="ui red label ">Delete</a>

                                </div>
                            </div>

                        </div>
                    </div>


                    <!--&lt;!&ndash;NOT INTEREST tv&ndash;&gt;-->
                    <!--<div class="row review-padding">-->
                        <!--<div class="ui teal m-header-median  inverted attached segment">NOT INTERESTED TV</div>-->
                        <!--<div class="ui inverted segment ">-->
                            <!--<div class="ui grid">-->
                                <!--<div class="three wide center aligned column"  th:each="tag : ${movie_lists[2]}"  >-->
                                    <!--<a href="#" th:href="@{/movie/{id}(id=${tag.movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.moviePoster}"  alt="Image"></a>-->
                                    <!--<p th:text="${tag.movieName}">Black Panther   </p>-->

                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                </div>

                <!--rating history-->
                <!-- tab 4-->
                <div class="ui inverted bottom tab segment " data-tab="four">
                    <!--rating movie-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">RATING HISTORY</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">RATING HISTORY</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="row" th:each="tag : ${rateMovies}">
                                    <div class="three wide center aligned column">
                                        <a href="#" th:href="@{/movie/{id}(id=${tag[1].movieID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag[1].moviePoster}"  alt="Image"></a>
                                        <!--<p th:text="${tag.movieName}">Black Panther   </p>-->
                                        <div th:if="${tag[0].rate==1.0}">
                                            <p>&#11088</p>
                                        </div>

                                        <div th:if="${tag[0].rate==2.0}">
                                            <p>&#11088&#11088</p>
                                        </div>

                                        <div th:if="${tag[0].rate==3.0}">
                                            <p>&#11088&#11088&#11088</p>
                                        </div>

                                        <div th:if="${tag[0].rate==4.0}">
                                            <p>&#11088&#11088&#11088&#11088</p>
                                        </div>

                                        <div th:if="${tag[0].rate==5.0}">
                                            <p>&#11088&#11088&#11088&#11088&#11088&#11088</p>
                                        </div>

                                        <!--<a href="#"  class="ui blue label"><i class="inverted edit outline icon"></i>Edit</a>-->


                                    </div>
                                    <div class="nine wide column"  >
                                        <p th:text="${tag[0].comment}">fjdafoiadsjfioasjfaiosfjasvjidaosjfdsiaovjcdaisovjaiocjsiaodjciso</p>
                                        <a th:href="@{/my_profile/delete/{mid}(mid=${tag[1].movieID})}" href="#" class="ui red label ">Delete</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- followers-->
                <!--tab 5-->
                <div class="ui inverted bottom tab segment " data-tab="fifth">
                    <!--followers-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">FOLLOWERS</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">FOLLOWERS</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followers}"  >
                                    <a href="#" th:href="@{/user/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- followings-->
                <!--tab 6-->
                <div class="ui inverted bottom tab segment " data-tab="sixth">
                    <!--followings-->
                    <div class="row review-padding">
                        <!--<div class="ui teal m-header-median  inverted attached segment">FOLLOWINGS</div>-->
                        <h2 class="ui inverted horizontal divider header m-padded-top-bottom-small">FOLLOWING</h2>
                        <div class="ui inverted segment ">
                            <div class="ui grid">
                                <div class="three wide center aligned column"  th:each="tag : ${followings}"  >
                                    <a href="#" th:href="@{/user/{id}(id=${tag.userID})}" ><img class="ui fluid image" src="../static/images/1.jpg" th:src="${tag.photo}"  alt="Image"></a>
                                    <p th:text="${tag.userName}">Black Panther   </p>
                                    <a th:href="@{/my_profile/delete/followings/{id}(id=${tag.userID})}" href="#" class="ui red label ">Unfollow</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

<footer th:replace="_fragments :: footerImg()"></footer>
<!--js-->

<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
<script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
<script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>
<script>
    $('.menu .item').tab({history:false});
</script>
</body>
</html>