<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wide, initial-scale=1.0">
    <title>Delete Account</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >-->
    <!--<link rel="stylesheet" href="../static/css/mycss.css">-->
</head>
<body>
<nav th:replace="_fragments :: navBar()"></nav>
<br>
<br>
<br>
<div class="ui container">
    <div class="ui  attached segment">

        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Thank You For Your Report!
            </div>
            <p>Your report has been received, we will investigate  this case carefully. </p></div>
        <br>
        <br>
        <div class="ui center aligned container" >
            <a href="#" th:href="@{/}" class="ui green button " >Back To Pappa </a>

        </div>
        <br>
        <br>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer th:replace="_fragments :: footerImg()"></footer>
<!--js-->

<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.js "></script>
<script type="text/javascript" src="../static/slick/slick.min.js" th:src="@{/slick/slick.min.js}"></script>
<script type="text/javascript" src="../static/js/myjs.js" th:src="@{/js/myjs.js}"></script>

</body>
</html>